---
layout: front-page
title: All about the windmill in Fulbourn, Cambridgeshire, UK
---

<div class="home">

  <h2 class="page-heading">Events</h2>

  <ul class="event-list">
    {% for event in site.events %}
      <li class="event open-day">
        <div class="event-date">
          <div class="startdate">
            <div class="event-weekday">{{ event.date | date: "%a" }}</div>
            <div class="event-day">{{ event.date | date: "%d" }}</div>
            <div class="event-month">{{ event.date | date: "%b" }}</div>
            <div class="event-year">{{ event.date | date: "%Y" }}</div>
          </div>
        </div>
        <div class="event-info single-day">
          <div class="event-title">
            <h3>{{ event.title }}</h3>
          </div>
          <div class="event-content">{{ event.content }}</div>
        </div>
      </li>
    {% endfor %}
  </ul>

  <h2 class="page-heading">News</h2>

  <ul class="post-list">
    {% for post in site.posts %}
      <li class="post">
        <img width="150" height="150" src="{{ post.image }}" class="post-thumbnail">
        <h3>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h3>
        <div class="post-meta">{{ post.date | date: "%-d %B %Y" }}</div>
        <div class="post-content">
          {{ post.content | split:'<!--break-->' | first }}
          {% if post.content contains '<!--break-->' %}
          <a href="{{ post.url }}">read more</a>
          {% endif %}
        </div>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
