<footer class="site-footer">

  <div class="wrapper">

    <ul class="social-media-list">
      <li><i class="far fa-envelope"></i> <a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
      {% if site.twitter_name %}
      <li><i class="fab fa-twitter"></i>
        <a href="https://twitter.com/{{ site.twitter_name }}" target="_blank">
          <span class="username">{{ site.twitter_name }}</span>
        </a>
      </li>
      {% endif %}
      {% if site.facebook_name %}
      <li><i class="fab fa-facebook-f"></i>
        <a href="https://facebook.com/{{ site.facebook_name }}" target="_blank">
          <span class="username">{{ site.facebook_name }}</span>
        </a>
      </li>
      {% endif %}
      {% if site.instagram_name %}
      <li><i class="fab fa-instagram"></i>
        <a href="https://instagram.com/{{ site.instagram_name }}" target="_blank">
          <span class="username">{{ site.instagram_name }}</span>
        </a>
      </li>
      {% endif %}
    </ul>

  </div>

</footer>
